.expenses {
  display: flex;
  flex-direction: row;
}

.expenses__title,
.expenses__number {
  padding: 0;

  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
}

.expenses__title {
  margin: 0 4px 0 auto;
}

.expenses__number {
  margin: 0 auto 0 0;
}

@media (min-width: @tablet-width) {
  .expenses {
    flex-direction: column;
    align-items: flex-end;
  }

  .expenses__title,
  .expenses__number {
    margin: 0;

    font-size: 20px;
    line-height: 1;
  }

  .expenses__title {
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .expenses {
    flex-direction: row;
  }

  .expenses__title {
    margin: 0 64px 0 0;
  }
}
