.page-main-box {
  margin: 0;
  padding: 0;
}

.page-main-box__title {
  margin: 0;
  padding: 15px 20px 0 20px;
  box-sizing: border-box;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
}

@media (min-width: @tablet-width) {
  .page-main-box--catalog {
    padding: 58px 0 0 0;
  }

  .page-main-box__catalog-sections {
    margin: 0 0 17px 0;
  }

  .page-main-box__title {
    padding: 0 30px 0 30px;

    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: @desktop-width) {
  .page-main-box--catalog {
    padding: 74px 0 0 0;
  }

  .page-main-box__title {
    padding: 0 110px 0 110px;
  }

  .page-main-box__catalog-sections {
    margin: 0 0 74px 0;
  }
}
