.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__control-wrapper {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__logotype-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 20px 0 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logotype-image {
  display: block;

  width: 191px;
  height: 39px;
}

.page-header__navigation {
  /*display: none;/**/
}
