.page-main-box {
  width: auto;
  margin: 0;
  padding: 0;
}

.page-main-box__program-select,
.page-main-box__catalog-sections,
.page-main-box__advantages,
.page-main-box__live-example,
.page-footer {
  width: 100%;
}

.page-main-box__title {
  margin: 0 auto;
  padding: 15px 20px 0 20px;
  box-sizing: border-box;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
}

.page-main-box__basic-catalog {
  width: auto;
}

.page-main-box__live-example {
  position: relative;

  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .page-main-box--catalog {
    padding: 58px 0 0 0;
  }

  .page-main-box__catalog-sections {
    margin: 0 auto 17px auto;
  }

  .page-main-box__title {
    padding: 0 30px 0 30px;

    font-size: 60px;
    line-height: 1;
  }

  .page-main-box__advantages {
    border-bottom: 1px solid #444444;
  }

  .page-main-box__live-example {
    background-color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .page-main-box {
    position: relative;

    &--index::after {
      display: block;
      position: absolute;
      top: -114px;
      right: 0;
      z-index: -10;

      width: 50%;
      height: 696px;

      background-image: url("../img/index-background-desktop@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }

      background-size: cover;
      background-position: top left;
      background-repeat: no-repeat;
      background-color: #6bae42;

      content: "";
    }
  }

  .page-main-box--catalog {
    padding: 74px 0 0 0;
  }

  .page-main-box__title {
    padding: 0 40px 0 40px;
  }

  .page-main-box__catalog-sections {
    margin: 0 auto 74px auto;
  }
}
